footer {
  background-color: rgb(75, 89, 145);
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

footer ul li {
  display: inline-block;
  margin-top: 10px;

}

footer ul {
  display: inline-block;
}

footer a:link,
footer a:visited {
  color: darkblue;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: deepskyblue;
}

footer .copy-right {
  text-align: center;
}

@media (max-width: 600px){
  footer {
    display: none;
  }
}
