<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 myNavbar" ngStickyNav stickyClass = "sticky">
  <div class="container navbar-container">
    <a routerLink="/" class="navbar-brand"><img src="../../../assets/img/profil-pic.png" alt="Profil Photo" width="49" height="62" class="navbar-pic"></a>
    <a routerLink="/" class="navbar-brand">B. KARADUMAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" (click)="isCollapsed = !isCollapsed">
      <i [ngClass]="{'navbar-toggler-icon': isCollapsed, 'fa fa-close fa-2x': !isCollapsed}"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">{{'home' | translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a routerLink="/blogs" class="nav-link">Blogs</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">{{'login' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">{{'register' | translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-4">
        <li>
          <button type="button" (click)="toggleLang()" class="nav-item btn btn-block toggle-button">{{'thisLang' | translate}}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
