<div class="career">
  <img width="100%" src="../../../assets/img/career.jpg" alt="career">
  <div class="introduction">
    <h1>Hello, I am Baturay.<br>Junior in software technology.</h1>
    <a class="btn btn-primary mt-1" href="#">Career Goals</a>
    <a class="btn btn-secondary mt-1" href="#">Show me more</a>
  </div>
</div>
<section class="section-schools">
  <div class="row school-description">
    <h2>School is practice for future &mdash; Practice makes perfect</h2>
    <p class="long-copy">
      Hello, i've graduated from Istanbul Technical University and also i am about to graduate from Anadolu University as open university.<br><span style="font-size: 10px; font-style: italic;">FAQ: Why did it take long to graduate?<br>Because, i did Erasmus during the last year of my bachelor. I could not find appropriate lectures at host university. I took the classes of last year all over again. In other words, i did not have trouble with passing exams successfully.</span>
    </p>
  </div>

  <div class="row school-lists">
    <div class="col span-1-of-4">
      <i class="fa fa-university fa-5x"></i>
      <h3>Istanbul Technical University</h3>
      <p>
        Major : Electronics and Communication Engineering<br>Type : Bachelor Science<br>Date of Graduation : June 2017<br>GPA: 2.73 / 4
      </p>
    </div>
    <div class="col span-1-of-4">
      <i class="fa fa-graduation-cap fa-5x"></i>
      <h3>Graz University of Technology</h3>
      <p>
        Major : Telematics<br>Type : Bachelor Science(Erasmus)<br>Date of Graduation : July 2015<br>
      </p>
    </div>
    <div class="col span-1-of-4">
      <i class="fa fa-internet-explorer fa-5x"></i>
      <h3>Anadolu University</h3>
      <p>
        <br>Major : Management<br>Type : Bachelor Science(Open University)<br>Date of Graduation : July 2018<br>GPA: 2.70 / 4
      </p>
    </div>
    <div class="col span-1-of-4">
      <i class="fa fa-pencil fa-5x"></i>
      <h3>Cagribey Anatolian High School</h3>
      <p>
        Major : Numeric field<br>Type : High School<br>Date of Graduation : July 2010<br>
      </p>
    </div>
  </div>
</section>
<section class="section-about" id="personal-info">
  <div class="row personal-description">
    <h2>Personal Information &mdash; In summary</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <img src="../../../assets/img/coding.png" alt="Keep calm and try coding" class="app-screen">
    </div>
    <div class="col-lg-6 about-bullets">
      <div class="about-bullet">
        <div>1</div>
        <p>I would like to read about computer science all day long. I have been working on software related projects on my own. I am doing my best to improve my programming skills. If i have a chance to work on professional projects, i believe i will be really good at coding.</p>
      </div>
      <div class="about-bullet">
        <div>2</div>
        <p>Strong multi-tasking, analytical thinking and time management skills, strong social skills and entrepreneurial attitude, self-motivated against new challenges and well developed for team work</p>
      </div>
      <div class="about-bullet">
        <div>3</div>
        <p>Non-smoker, member of gym and special interest in many kinds of sports such as Tennis, Basketball, Volleyball, Football, Swimming etc. Also special interest in healthy life</p>
      </div>
      <i class=""></i>
      <i class=""></i>
      <i class=""></i>
      <i class=""></i>
    </div>
  </div>
</section>
