<div class="card card-header my-cards">
  <h3>Blog Posts</h3>
  <div class="card card-header small-header">
    <h4>First Post</h4>
    <div class="card card-body mb-3">
      <p>Hello, i've graduated from Istanbul Technical University and also i am about to graduate from Anadolu University as open university.<br>FAQ: Why did it take long to graduate?<br>Because, i did Erasmus during the last year of my bachelor. I could not find appropriate lectures at host university. I took the classes of last year all over again. In other words, i did not have trouble with passing exams successfully.
      </p>
    </div>
    <a href="">SEE THE POST</a>
  </div>
  <div class="card card-header small-header">
    <h4>Second Post</h4>
    <div class="card card-body mb-3">
      <p>Hello, i've graduated from Istanbul Technical University and also i am about to graduate from Anadolu University as open university.<br>FAQ: Why did it take long to graduate?<br>Because, i did Erasmus during the last year of my bachelor. I could not find appropriate lectures at host university. I took the classes of last year all over again. In other words, i did not have trouble with passing exams successfully.
      </p>
    </div>
    <a href="">SEE THE POST</a>
  </div>
  <div class="card card-header small-header">
    <h4>Third Post</h4>
    <div class="card card-body mb-3">
      <p>Hello, i've graduated from Istanbul Technical University and also i am about to graduate from Anadolu University as open university.<br>FAQ: Why did it take long to graduate?<br>Because, i did Erasmus during the last year of my bachelor. I could not find appropriate lectures at host university. I took the classes of last year all over again. In other words, i did not have trouble with passing exams successfully.
      </p>
    </div>
    <a href="">SEE THE POST</a>
  </div>
  <a routerLink="/blogs" class="all-blogs">SEE ALL BLOG POSTS</a>
</div>
