<div class="card card-header my-cards">
  <h3>Blog Posts</h3>
  <span routerLink="/blog" class="add-blog fa fa-plus"> Add Blog</span>
  <div *ngFor="let blog of shared.blogs; let i = index">
    <div class="card card-header small-header" *ngIf="i<3 && blog">
      <span>
        <h4>{{blog.title}}</h4>
        <div class="card card-body mb-3">
          <p>{{blog.description}}
          </p>
        </div>
        <a href="">SEE THE POST</a>
      </span>
    </div>
  </div>
  <a routerLink="/blogs" class="all-blogs">SEE ALL BLOG POSTS</a>
</div>
